[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"
jupyter = "jupyter notebook"
pytest = "python -m pytest -vv"

[packages]
tqdm = "*"
pillow = "*"
pyyaml = "*"
gensim = "*"
tensorboard = "*"
torch = "==1.1.0"
tb-nightly = "==1.14.0a20190522"

[dev-packages]
flake8 = "==3.5.0"
mypy = "*"
jupyter = "*"
pytest = "*"

[requires]
python_version = "3.6.5"
